/* 
Breakpoint Mixin 
*/
@keyframes slidein {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }
html {
  height: 100%; }

body {
  background: url("../img/background.jpg") repeat-x 0 0;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  height: 100%; }

.collapsed {
  height: 30px !important;
  overflow: hidden; }
  @media (min-width: 920px) {
    .collapsed {
      height: 510px !important;
      overflow: visible; } }

header {
  margin: 1%; }
  header .header__logo {
    float: left;
    display: inline-block; }
  header .header__text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18pt;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 0px #323232;
    float: left;
    display: inline-block;
    margin: 10px 0px 0px 10px; }
    @media (min-width: 920px) {
      header .header__text {
        margin: 10px 0px 0px 20px; } }

.main--app {
  background: rgba(224, 224, 224, 0.4);
  opacity: 1;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #323232;
  float: left;
  margin: 1%;
  width: 98%;
  height: 540px; }
  @media (min-width: 920px) {
    .main--app {
      height: 510px; } }
  .main--app .main--app--control {
    width: 98%;
    background: #323232;
    height: 540px;
    display: block;
    float: left;
    padding: 0 0px;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute; }
    @media (min-width: 920px) {
      .main--app .main--app--control {
        height: 510px;
        position: relative;
        max-width: 30%;
        min-width: 320px;
        padding: 0 10px;
        border-right: 10px solid #aeaeae; } }
    .main--app .main--app--control .main--app--control--datatype--title {
      float: left;
      display: block;
      margin: 5px 0px 10px 4%;
      width: 100%; }
      @media (min-width: 920px) {
        .main--app .main--app--control .main--app--control--datatype--title {
          margin: 10px 0px 10px 0%; } }
    .main--app .main--app--control .main--app-control--mobile--menu {
      background: linear-gradient(#77767c, #a2a3aa);
      width: 100%;
      display: block;
      float: left;
      text-align: center;
      padding: 5px 0px;
      border: 0px solid #323232; }
    .main--app .main--app--control .datatype-selector-button {
      display: block;
      width: 90%;
      height: 20px;
      background: #325ea8;
      padding: 5px;
      margin: 0px 4% 10px 4%;
      float: left;
      color: #ffffff;
      font-size: 9pt;
      border-radius: 4px; }
      @media (min-width: 920px) {
        .main--app .main--app--control .datatype-selector-button {
          width: 42%;
          padding: 2%;
          margin: -2px 4% 0 0; } }
      .main--app .main--app--control .datatype-selector-button input {
        float: left; }
      .main--app .main--app--control .datatype-selector-button span {
        margin: 2px 0px 0px 2px;
        float: left; }
    .main--app .main--app--control .main--app-control--button {
      width: 92%;
      display: block;
      float: left;
      margin: 20px 4%;
      background: #a60c07;
      padding: 10px 0px;
      text-align: center; }
      @media (min-width: 920px) {
        .main--app .main--app--control .main--app-control--button {
          margin: 20px 0px; } }
  .main--app .main--app--data {
    float: left;
    display: block;
    width: 90%;
    overflow: hidden;
    margin: 30px 0px 0px 0px; }
    @media (min-width: 920px) {
      .main--app .main--app--data {
        margin: 0px 0px;
        width: 60%; } }
    .main--app .main--app--data .main-app-data-title {
      float: left;
      display: block;
      clear: both;
      margin-left: 10px;
      font-size: 10pt; }
      @media (min-width: 920px) {
        .main--app .main--app--data .main-app-data-title {
          font-size: 14pt; } }
    .main--app .main--app--data #main--app--data--chart {
      width: 100%;
      display: block;
      float: left; }
      .main--app .main--app--data #main--app--data--chart .main--app--data--bar {
        background: #a60c07;
        float: left;
        display: block;
        padding: 5px 0px 5px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ffffff;
        animation-name: slidein;
        animation-duration: 2s;
        clear: both;
        color: #ffffff;
        font-size: 8pt;
        font-weight: 700; }

/*# sourceMappingURL=chicago-nrg-app.css.map */
