@import "base/mixins";

@keyframes slidein {
  0%   {margin-left:-100%;}
  100% {margin-left:0%;}
}

html{
  height:100%;
}
body {
    background:url("../img/background.jpg") repeat-x 0 0;
    padding:0px;
    margin:0px;
    font-family:"Roboto", Arial, sans-serif;
  height:100%;
}

header {
    margin:1%;
    .header__logo{
      float:left;
      display:inline-block;
    }
    .header__text{
        font-family:"Roboto", Arial, sans-serif;
        font-size:18pt;
        color:#ffffff;
        font-weight:700;
        text-shadow:2px 2px 0px #323232;
        float:left;
        display:inline-block;
        margin:10px 0px 0px 20px;
        @include breakpoint(small) {
        margin:10px 0px 0px 0px;
        }
    }
}

.main--app{
  background:#e0e0e0;
  opacity:.9;
  border-radius:4px;
  box-shadow:2px 2px 2px #323232;
  float:left;
  margin:1%;
  width:98%;
  height:60%;

  .main--app--control{
    width:350px;
    background:#323232;
    height:100%;
    display:block;
    float:left;
    padding:0 10px;
    color:#ffffff;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;

      .datatype-selector-button{
        display:block;
        width:42%;
        height:20px;
        background:#325ea8;
        padding:2%;
        margin:-2px 4% 0 0;
        float:left;
        color:#ffffff;
        font-size:9pt;
        border-radius:4px;
        input{
          float:left;
        }
        span{
          margin:2px 0px 0px 2px;
          float:left;
        }
      }
      .main--app-control--button {
      width:90%;
        display:block;
        float:left;
        margin:20px 0px;
        background:#a60c07;
        padding:10px;
        text-align:center;
      }
  }
  .main--app--data{
      float:left;
      display:block;
      width:70%;
      overflow:hidden;
      .main-app-data-title{
        float:left;
        display:block;
        clear:both;
      }
      .main-app-data-bar{
        background:#a60c07;
        float:left;
        display:block;
        padding:5px 5px;
        margin-top:5px;
        margin-bottom:5px;
        border:1px solid #ffffff;
        animation-name: slidein;
        animation-duration: 2s;
        clear:both;
        color:#ffffff;
      }
  }
}

