@import "base/mixins";

@keyframes slidein {
  0%   {margin-left:-100%;}
  100% {margin-left:0%;}
}


html{
  height:100%;
}
body {
    background:url("../img/background.jpg") repeat-x 0 0;
    padding:0px;
    margin:0px;
    font-family:"Roboto", Arial, sans-serif;
  height:100%;
}


// Menu collapse/open classes

.collapsed {
  height: 30px !important;
  overflow:hidden;

  @include breakpoint(large) {
    height: 510px !important;
    overflow: visible;

  }
}


header {
    margin:1%;
    .header__logo{
      float:left;
      display:inline-block;
    }
    .header__text{
        font-family:"Roboto", Arial, sans-serif;
        font-size:18pt;
        color:#ffffff;
        font-weight:700;
        text-shadow:2px 2px 0px #323232;
        float:left;
        display:inline-block;
        margin:10px 0px 0px 10px;
        @include breakpoint(large) {
        margin:10px 0px 0px 20px;
        }
    }
}

.main--app{
  background:rgba(224,224,224,0.8);
  opacity:1;
  border-radius:4px;
  box-shadow:2px 2px 2px #323232;
  float:left;
  margin:1%;
  width:98%;
  height:565px;
  @include breakpoint(large) {
    height:510px;
  }

  .main--app--control{
    width:98%;
    background:#323232;
    height:565px;
    display:block;
    float:left;
    padding:0 0px;
    color:#ffffff;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    position:absolute;

    @include breakpoint(large) {
      height:510px;
      position:relative;
      max-width:30%;
      min-width:320px;
      padding:0 10px;
      border-right:10px solid #aeaeae;
    }
    @include breakpoint(large) {

    }
    .main--app--control--datatype--title{
      float:left;
      display:block;
      margin:5px 0px 10px 4%;
      width:100%;
      @include breakpoint(large) {
        margin:10px 0px 10px 0%;
      }
    }
    .main--app-control--mobile--menu{
      background:linear-gradient(#5b5a5f, #8f9097);
      width:100%;
      display:block;
      float:left;
      text-align:center;
      padding:5px 0px;
      border:0px solid #323232;
      @include breakpoint(large) {
        display:none;
      }
    }
    .datatype-selector-button{
        display:block;
        width:90%;
        height:20px;
        background:#325ea8;
        padding:5px;
        margin:0px 4% 10px 4%;
        float:left;
        color:#ffffff;
        font-size:9pt;
        border-radius:4px;
        @include breakpoint(large) {
          width:42%;
          padding:2%;
          margin:-2px 4% 0 0;
        }
        input{
          float:left;
        }
        span{
          margin:2px 0px 0px 2px;
          float:left;
        }
    }
      .main--app-control--button {
      width:92%;
        display:block;
        float:left;
        margin:20px 4%;
        background:#a60c07;
        padding:10px 0px;
        text-align:center;
        @include breakpoint(large) {
            margin:20px 0px;
            width:96%;
        }
      }
  }
  .main--app--data{
      float:left;
      display:block;
      width:90%;
      overflow:hidden;
      margin:30px 0px 0px 0px;
    @include breakpoint(large) {
      margin:0px 0px;
      width:60%;
    }
      .main-app-data-title{
        float:left;
        display:block;
        clear:both;
        margin-left:10px;
        font-size:10pt;
        @include breakpoint(large) {
          font-size:14pt;
        }
      }
      #main--app--data--chart {
        width: 100%;
        display: block;
        float: left;

        .main--app--data--bar {
          background: #774a39;
          float: left;
          display: block;
          padding: 5px 0px 5px 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          border: 1px solid #ffffff;
          animation-name: slidein;
          animation-duration: 2s;
          clear: both;
          color: #ffffff;
          font-size: 8pt;
          font-weight: 700;
        }
        // overrides color on biggest bar in the graph
        .max-val{
          background: #b50c07;
        }
      }
  }
}

